/Users/benji0110/Documents/personal_projects/github/roleplaying_jarvis/fetish_list.txt
/Users/benji0110/Documents/personal_projects/github/roleplaying_jarvis/hobbies_list.txt
/Users/benji0110/Documents/personal_projects/github/roleplaying_jarvis/life_choices.txt
/Users/benji0110/Documents/personal_projects/github/roleplaying_jarvis/professions_list.txt
